.hero{
    width: 90%;
    height: 80vh;
    background: url('./../../assets/header_img.png');
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
    position: relative;
}
.hero .hero-contents{
    position: absolute;
    left: 5%;
    bottom: 3%;
    max-width: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.hero .hero-contents h1{
    font-size: 60px;
    color: #fff;
}
.hero .hero-contents p{
    color: #fff;
    font-size: 14px;
}
.hero .hero-contents button{
    padding: 13px 30px ;
    font-size: 16px;
    color: #747474;
    margin: 20px 0;
    background: #fff;
    border: 0;
    outline: 0;
    border-radius: 50px;
}
@media(max-width:1024px){
    .hero{
        height: 35vh;
    }
}
@media (max-width:799px) {
    .hero{
        width: 95%;
    }
    .hero .hero-contents h1{
        font-size: 34px;
        max-width: 58%;
    }
    .hero .hero-contents p{
        margin-top: 10px;
        font-size: 14px;
        max-width: 80%;
    }
    .hero .hero-contents button{
        padding: 11px 17px;
        font-size: 14px;
    }
}
@media(max-width:449px){
    .hero{
        margin: 10px auto;
    }
    .hero .hero-contents p{
        display: none;
    }
    .hero .hero-contents h1{
        font-size: 22px;
        max-width: 70%;
    }
}